@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,600;1,700&display=swap");
body {
  font-family: "Roboto Mono", monospace;
}

.logo {
  width: 8rem;
}

section {
  height: 100vh;
}

.btn {
  background-color: #5f0b0e;
  color: white;
}

.btn:hover {
  background-color: white;
  color: #5f0b0e;
  border: 2px solid #5f0b0e;
}